<a href="https://colab.research.google.com/github/nishayp/full-stack-development/blob/main/py_functn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#create a functn
def add():
  print("addition functn")
  add()

In [7]:
#arguments
def add(a,b):
 print("addition functn result:",a+b)
add(1,2)

addition functn result: 3

In [23]:
#arbitrary arguments
def arb_arg_func(*nums):
  print("the third number is",nums[1])
arb_arg_func(23,34,45)

the third number is 34

In [27]:
#keyword arguments
def key_arg_func(n1,n2,n3):
  print("the third num is",n3)
key_arg_func(n3=23,n2=45,n1=34)

the third num is 23

In [29]:
#arbitrary keyword argument
def arb_key_arg_func(**nums):
  print("the third num is",nums["n1"])
arb_key_arg_func(n3=23,n1=34,n2=45)

the third num is 34

In [32]:
#default parameter value
def def_func(num=350):
 print("the num is",num)
def_func(23)
def_func(34)
def_func()

the num is 23
the num is 34
the num is 350

In [36]:
#passing a list as an argument
def rno(nums):
  print("the roll num",nums)
sno=[34,45,25]
rno(sno)

the roll num [34, 45, 25]

In [42]:
#return values
def gracemarks(num):
  return 2+num
n=gracemarks(34)
print(n)

36

In [44]:
#pass statement
def func():
  pass

In [48]:
#recursion
def fact(num):
  if num==1: return 1
  else: return num*fact(num-1)
n=fact(4)
print(n)

24