<a href="https://colab.research.google.com/github/nishayp/full-stack-development/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#creating a tuple
emptuple=("nisha","my3","harini","sahana")
print(emptuple)

('nisha', 'my3', 'harini', 'sahana')

In [2]:
#accesing the tuple
emptuple=("nisha","my3","harini","sahana")
print(emptuple[2])

harini

In [10]:
#negative index
emptuple=("nisha","my3","harini","sana")
print(emptuple[-2])

harini

In [11]:
#change tuple value
emptuple=("nish","my3","hari","sana")
print(emptuple)
s=list(emptuple)
s[1]="vash"
emptuple=tuple(s)
print(emptuple)

('nish', 'my3', 'hari', 'sana')
('nish', 'vash', 'hari', 'sana')

In [12]:
#loop in tuple
emptuple=("nish","my3","hari","sana")
for x in emptuple:
  print(x)

nish
my3
hari
sana

In [15]:
#check the item exists
emptuple=("nisha","my3","hari","sana")
print(emptuple)
key=input("enter the name to search")
if key in emptuple:
  print("yes,key is found")
else:
  print("key not found")

('nisha', 'my3', 'hari', 'sana')
enter the name to searchnisha
yes,key is found

In [16]:
#length of tuple
emptuple=("nish","my3","sana","hari")
print(len(emptuple))

4

In [21]:
#adding items
emptuple=("nish","my3","sana","hari")
s=list(emptuple)
s.append("vasha")
emptuple=tuple(s)
print(emptuple)

('nish', 'my3', 'sana', 'hari', 'vasha')

In [22]:
#creating tuple with one item
emptuple=("nikki",)
print(type(emptuple))

<class 'tuple'>

In [25]:
#removing item
emptuple=("nish","varsh","hari","my3")
s=list(emptuple)
s.remove("varsh")
emptuple=tuple(s)
print(emptuple)

('nish', 'hari', 'my3')

In [33]:
#deleting tuple
emptuple=("nish","varsh","my3","hari")
s=list(emptuple)
del s[2]
emptuple=tuple(s)
print(emptuple)

('nish', 'varsh', 'hari')

In [37]:
#tuple constructor
tuple_s=("nish","my3","hari","sana")
print(s)

['nish', 'varsh', 'hari']

In [44]:
#count
tuple_emp=("varsh","nish","my3","nish")
print(tuple_emp.count("varsh","nish","my3","nish"))

TypeError: ignored